<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snippet Switcher Options</title>
    <link rel="stylesheet" type="text/css" href="options.css">
  </head>
  <body>
    <form id="switcher-options-form">
      <formset>
        <legend>about:home Snippet Switcher</legend>
        <ul></ul>
      </formset>
    </form>

    <script id="option_list" type="text/html">
      <li class="field">
        <label for="id_SERVER">Server</label>
        <select id="id_SERVER" name="SERVER">
          <% _(servers).each(function(url, name) { %>
            <option value="<%= url %>"><%= name %></option>
          <% }); %>
        </select>
      </li>
      <% _(options).each(function(name, key) { %>
        <li class="field">
          <label for="id_<%= key %>"><%= name %></label>
          <input id="id_<%= key %>" name="<%= key %>" type="text">
        </li>
      <% }); %>
    </script>
  </body>
</html>
